name: execute linters and tests
on: pull_request 

jobs:
  ci-backend: 
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./clickr

    steps:
      - name: Check PR Title
          uses: amannn/action-semantic-pull-request@v5
          env: 
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v2

      - name: Install Dependencies
        run: poetry install

      - name: Run Linters
        run: make lint-all
